* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.encabezado {

    background-color: rgb(163, 160, 160);
    display: grid;
    grid-template-columns: 15% 85%;

}

.imagen {border: 2px solid black;}

.nombre {
    height: 50%; 
    width: 100%;
    font-size: 40px;
    display: grid;
    justify-content: center;
    
}

.estudios {
    height: 50%;
    width: 100%;
    font-size: 30px;
    display: grid;
    justify-content: center;
}

.apartado1 {

    display: grid;
    height: 100%;
    width: 100%;

}

.apartado2 {

    height: 100%;
    width: 100%;
    display: grid;

}

.contenido {

    background-color: rgb(245, 222, 196);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 100%;
    
}

.seccion1 {
    border: 2px solid black;
}

.educacion {

    font-size: 25px;
    border: 1px solid black;
    background-color: rgba(235, 222, 34, 0.514);
    display: grid;
    justify-content: center;

}

.edu {

    font-size: 20px;
    display: grid;
    justify-content: center;

}

.seccion2 {
    border: 2px solid black;
}

.skills {

    font-size: 25px;
    border: 1px solid black;
    background-color: rgba(235, 222, 34, 0.514);
    display: grid;
    justify-content: center;
    

}

.ski {

        font-size: 20px;
        display: grid;
        justify-content: center;

}

.seccion3 {
    border: 2px solid black;
}

.perfil {

    font-size: 25px;
    border: 1px solid black;
    background-color: rgba(235, 222, 34, 0.514);
    display: grid;
    justify-content: center;
}

.per {

    font-size: 20px;

}

.seccion4 {
    border: 2px solid black;
}

.experiencia{

    
    font-size: 25px;
    border: 1px solid black;
    background-color: rgba(235, 222, 34, 0.514);
    display: grid;
    justify-content: center;
}

.exp {

    font-size: 20px;
    display: grid;
    justify-content: center;

}